@model RockPaper.Web.Models.BaseModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{}

<h2>Web API & Web Services</h2>

<p>
    This sample site will show you the basic best practices and differences between Web API 2.1 and WCF Web Services.
</p>

<ul>
    <li>@Html.ActionLink("API Documentation", "Index", "Help", new { area = "HelpPage" }, null) (Automated API Documentation)</li>
    <li><a href="@(@Model.BaseUrl + @"/services/RockPaperService.svc")">Rock Paper WCF Web Service</a> (Normal WCF Service)</li>
    <li><a href="@(@Model.BaseUrl + @"/api/sample/games")">Games Web API Sample</a> (Post, Get, Put and Delete)</li>
    <li><a href="@(@Model.BaseUrl + @"/api/sample/teams")">Teams Web API Sample</a> (Post, Get, Put and Delete)</li>
    <li><a href="@(@Model.BaseUrl + @"/api/sample/rounds")">Rounds Web API Sample</a> (Post, Get, Put and Delete)</li>
</ul>
